@media (max-width: 1200px) {
    .email .input_btn {
        right: -40%;
        top: 30%;
    }
}




@media (max-width: 1000px) {
    .main_text {
        font-size: 55px;
        font-weight: 700;
        text-align: center;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .sub_text {
        width: 100%;
        text-align: center;
        margin: 50px auto;
        
    }

    .email .input_btn {
        right: -70%;
        top: 30%;
    }
}

@media (max-width: 800px){
    .slider1 {
        margin: 0 auto;
    }

    .section3 {
        text-align: center;
    } 

    .section3 .row {
        justify-content: center;
    }

    .section4 {
        text-align: center;
    }

    .section4 .row {
        justify-content: center;
    }

    .email .input_btn {
        right: 35%;
        top: unset;
    }
}

@media (max-width: 600px){

    .sec2_title {
        margin-bottom: 50px;
    }

    .main_text {
        font-size: 35px;
        line-height: 155%;
        height: 220px;
        margin: 40px auto;
    }
    .main_btn {
        flex-direction: column;
        align-items: center;
    }

    .sec_btn1 {
        margin: 5px 0;
    }
    .sec_btn2 {
        margin: 5px 0;
    }

    .section1 {
        margin-bottom: 200px;
    }

    .process {
        text-align: center;
    }

    .footer p {
        text-align: center;
    }
}

@media (max-width: 400px){
    .artist {
        width: 360px;
    }

    .slider1 {
        margin: 0 auto;
    }

    .artist_img {
        margin: 6px 8px 8px 23px;
    }

    .section3 {
        text-align: center;
    }

    .process {
        margin-bottom: 70px;
        text-align: center;
    }

    .section4 {
        text-align: center;
    }

    .logo_footer {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .footer_title {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }

    .footer_links {
        line-height: 36px;
    }

    .subscribe {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .social {
        justify-content: center;
        gap: 30px;
        margin-bottom: 20px;
    }

    .footer h5,h6 {
        margin-bottom: 40px;
    }

    .email {
        margin-bottom: 30px;
    }

    .email .input_btn {
        right: 0;
    }
}